In [1]:
import pandas as pd
import FinanceDataReader as fdr
import matplotlib.pyplot as plt
import matplotlib as mpl

환율		<br>
.	USD/KRW	달러당 원화 환율<br>
.	USD/EUR	달러당 유로화 환율<br>
.	USD/JPY	달러당 엔화 환율<br>
.	CNY/KRW	위엔화 원화 환율<br>
.	EUR/USD	유로화 달러 환율<br>
.	USD/JPY	달러 엔화 환율<br>
.	JPY/KRW	엔화 원화 환율<br>
.	AUD/USD	오스트레일리아 달러 환율<br>
.	EUR/JPY	유로화 엔화 환율<br>
.	USD/RUB	달러 루블화<br>

In [2]:
usdkrw = fdr.DataReader('USD/KRW', '1995-01-01') # 달러 원화
usdeur = fdr.DataReader('USD/EUR', '1995-01-01') # 달러 유로화
usdcny = fdr.DataReader('USD/CNY', '1995-01-01') # 달러 위엔화

In [3]:
usdkrw

              Close     Open     High      Low  Change
Date
1995-01-02   788.50   788.50   788.50   788.50  0.0000
1995-01-03   788.65   788.05   788.85   787.55  0.0002
1995-01-04   789.95   788.65   790.05   788.45  0.0016
1995-01-05   789.90   789.80   790.20   789.30 -0.0001
1995-01-06   791.55   789.75   791.65   789.65  0.0021
...             ...      ...      ...      ...     ...
2021-01-04  1086.48  1085.73  1088.30  1080.02  0.0016
2021-01-05  1086.42  1086.69  1090.33  1082.04 -0.0001
2021-01-06  1087.93  1087.40  1089.79  1083.91  0.0014
2021-01-07  1094.28  1088.03  1096.78  1085.42  0.0058
2021-01-08  1092.93  1094.35  1099.21  1088.79 -0.0012

[6780 rows x 5 columns]