In [21]:
import pandas as pd
import FinanceDataReader as fdr

In [88]:
company_df = pd.read_excel("./src/KRX종목코드.xlsx", dtype=object, index_col=0)
# company_df["종목코드"]["삼성전자"]

In [89]:
## 기업별 주가정보 호출 함수
def stock_info(name, std):
    code = company_df["종목코드"][name]
    result = fdr.DataReader(code, std)
    return result

In [92]:
stock_info("코스피", "2000-01-01")

              Close     Open     High      Low        Volume  Change
Date
2000-01-04  1059.04  1028.33  1066.18  1016.59  1.959000e+08  0.0301
2000-01-05   986.31  1006.87  1026.52   984.05  2.577000e+08 -0.0687
2000-01-06   960.79  1013.95  1014.90   953.50  2.035200e+08 -0.0259
2000-01-07   948.65   949.17   970.16   930.84  2.156600e+08 -0.0126
2000-01-10   987.24   979.67   994.94   965.02  2.401800e+08  0.0407
...             ...      ...      ...      ...           ...     ...
2021-01-04  2944.45  2874.50  2946.54  2869.11  1.030000e+09  0.0247
2021-01-05  2990.57  2943.67  2990.57  2921.84  1.520000e+09  0.0157
2021-01-06  2968.21  2993.34  3027.16  2961.37  1.790000e+09 -0.0075
2021-01-07  3031.68  2980.75  3055.28  2980.75  1.520000e+09  0.0214
2021-01-08  3152.18  3040.11  3161.11  3040.11  1.270000e+06  0.0397

[5190 rows x 6 columns]